

/*
Setup a basic body
*/
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
	overflow-y: hidden;
    font-family: Arial;
    font-size: 18px;
	background-color: #F3F1ED;
}


/*
Header is relative so z-index: 1 guarantees always displayed on top
*/
header {
    background-color: white;
    padding: 10px;
    text-decoration: none;
    position: fixed;
	height: 10%;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
	display:inline-block;
}

#prodForm {
	float:left;
}
	
#shutdown {
	text-decoration: underline;
	float:left;
	margin-left: 20px;
}


#content {
    background-color: #F3F1ED;
    padding: 52px 10px 10px 10px;
    position: relative;
    width: auto;
    height: 100%;
    -webkit-box-shadow: -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
    box-shadow: -10px 0px 9px 0px rgba(0, 0, 0, 0.4);

}

#prodTitle{
	position:fixed;
	top:20%;
	left:9%;
}

#descShort{
	position: fixed;
	top:30%;
	left:10%;
	
}

#descLong{
	position: fixed;
	top:42%;
	left:10%;
	
}



.images{
	position: absolute;
	display: inline;
	left:30%;
	bottom: 30%;

	
}